.filters {
    @include display-flex (row, initial, center);
    width: 100%;
    border-top: 0.5px solid $lighter-gray;
    border-bottom: 0.5px solid $lighter-gray;

    &__form {
        @include display-flex (column, initial, initial);
        width: 80%;
        padding-top: 24px;

        &__inputs {
            @include display-flex (column, initial, initial);
            width: 100%;

            &__top-inputs {
                @include display-flex (row, initial, space-around);
                width: 100%;

                .react-autosuggest__container {
                    width: 49%;
                }
            }

            &__bottom-inputs {
                @include display-flex (row, initial, space-around);
                width: 100%;

                &__type, &__breed {
                    width: 33%;
                    margin: 0;
                    color: $input-text;
                    padding: 18px;
                    border: 1px solid $input-border;
                    border-radius: 4px;
                    font-size: 0.9em;
                }

                &__age-gender {
                    width: 31%;
                    display: flex;
                    justify-content: space-between;

                    &__age, &__gender {
                        width: 48%;
                        font-size: 0.9em;
                        margin: 0;
                        border-radius: 4px;
                    }
                }
            }
        }

        &__button {
            @include display-flex (row, flex-end, flex-end);
            align-self: flex-end;
    
            &__filter {
                height: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                color: $light-pink;
                font-size: 1.2em;
                margin-top: -0.5em;
                font-weight: 500;
                padding: 15px 5px;
            }
        }
    }
}

@media screen and (max-width: $small-screen) {
    .filters__form__inputs {
        &__top-inputs {
            flex-direction: column;

            .react-autosuggest__container {
                width: 100%;
            }
        }

        &__bottom-inputs {
            flex-direction: column;

            &__type, &__breed, &__age-gender {
                width: 100%;
                margin-left: 0;
                margin-bottom: 1em;
            }
        }
    }
}