.azil-section {
    @include display-flex (column, center, center);
    grid-area: main;
    min-height: 90vh;

    &__container {
        @include size (70%, 500px);
        display: flex;
        box-shadow: $box-shadow;

        &__left {
            @include size (40%, 100%);
            background-size: 100% 100%;
            position: relative;

            &__overlay {
                @include size (100%, 100%);
                position: absolute;
                background: rgba(0,0,0,0.2);
            }

            &__slider {
                position: absolute;
                top: 90%;
                display: flex;
                left: 42%;
                z-index: 10;
            }
        }

        &__right {
            @include display-flex (column, center, space-around);
            width: 60%;
            padding: 30px 50px;

            &__name-location {
                @include display-flex (row, center, space-between);
                width: 100%;

                h2 {
                    margin: 0;
                }
            }

            &__description {
                text-align: justify;
            }

            &__details {
                @include display-flex (row, center, center);
            }

        }
    }

    &__google-maps {
        width: 70%;
        box-shadow: $box-shadow;
        margin-top: 1em;
    }
}

@media screen and (max-width: 810px) {
    .azil-section__container {
        @include size (100%, 90%);
        flex-direction: column;

        &__left {
            @include size (100%, 300px);
        }

        &__right {
            padding: 30px 50px;
            width: 100%;

            &__description {
                margin-top: 1em;
            }

            &__details {
                margin: 1.5em 0;
            }
        }
    }

    .azil-section__google-maps {
        width: 100%;
    }
}